<link rel='stylesheet' href='/stylesheets/header.css' />
<div class="header">
    <div class="header-left">
        <p>Plant<br>Findr</p>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/upload">Upload</a>
        </div>
    </div>
    <div class="user">
        <div class="username-display">
            <p><%= user.username %></p>
        </div>
        <form action="/change-username" method="POST" class="change-username-form">
            <input type="hidden" name="oldUsername" value="<%= user.username %>">
            <input type="text" name="newUsername" placeholder="New Username" required>
            <button type="submit" class="submit-btn">Change Username</button>
        </form>
        <button id="logout-button">Logout</button>
    </div>
</div>
<script>
    // Function to delete user from local storage
    function logoutUser() {
        window.location.href = '/set-username';
    }

    document.getElementById('logout-button').addEventListener('click', logoutUser);
</script>
