<link rel='stylesheet' href='/stylesheets/header.css' />
<div class="header">
    <p>Plant<br>Findr</p>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/Upload">Upload</a>
    </div>
    <div class="user">
        <div class="username-display">
            <p><%= user.username %></p>
            <button id="logout-button">Logout</button>
        </div>
    </div>
        <script>
            document.getElementById('logout-button').addEventListener('click', function() {
                localStorage.clear(); // Clear local storage
                window.location.href = '/set-username'; // Redirect to the set-username page
            });
        </script>
</div>

