<!DOCTYPE html>
<html>
<head>
  <title><%= plant.name %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <%- include('partials/_header') %>

  <h1><%= plant.name %></h1>
  <p><%= plant.description %></p>

</body>
</html>