<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <%- include('partials/_header') %>

  <h1><%= plant.plantName %></h1>
  <p><%= plant.plantCharacteristics %></p>

</body>
</html>