/* Header */

:root{
    --background-color: #83df6d;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: var(--background-color);
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.header-left {
    display: flex;
    align-items: center;
}

.header p {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 3em;
}

.nav a {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 1em;
}

.user {
    display: flex;
    align-items: center;
    padding: 1em;
}

.username-display {
    display: flex;
    align-items: center;
}

.username-display p {
    font-size: 1.5em;
    color: white;
    margin-right: 1em;
}

.change-username-form {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.change-username-form input[type="text"] {
    background-color: #E4E4E7;
    border: none;
    padding: 0.625em 1.25em;
    border-radius: 2em;
    margin-right: 1em;
}

.change-username-form .submit-btn {
    background-color: #AC9797;
    color: white;
    border: none;
    padding: 0.625em 1.25em;
    border-radius: 5px;
    cursor: pointer;
}

#logout-button {
    background-color: #AC9797;
    color: white;
    border: none;
    padding: 0.625em 1.25em;
    cursor: pointer;
    margin-left: 1em;
    border-radius: 10px;
}