:root{
  --background-color: #82DF6B;
}

body {
  padding: 3.571em;
  font: 0.875em "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1em;
}

.header p {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #000000;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 3em;
}

.nav a {
  /* padding: 1em 1em; */
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

.nav a:not(:last-child)::after {
  content: "-";
  margin: 0.5em;
}

.heading{
  margin: 0;
  padding: 2em 1em;
  font-size: 1.1em;
  font-weight: bold;
  color: #090909;
  border-bottom: 0.2em solid #000; /* Change #000 to any color you want */
  border-radius: 1em;
}

.plant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.plant-box {
  border: 0.2em solid yellow; 
  border-radius: 1em;
  margin: 0.5em; 
  padding: 2em; 
  width: 30%;
  background-color: #ffffffbb;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1)
}

.plant-box h2 {
  font-size: 3em; 
  color: #1b1b1b; 
  margin-bottom: 0.5em; 
}

.plant-box p { /* Assuming p is your description */
  color: #666; /* Different color for the description */
}

/* Upload page */
input[type="text"],
input[type="datetime-local"],
input[type="url"] {
  background-color: #E4E4E7;
  border: 1em;
  padding: 1em;
  margin-bottom: 1em;
  width: calc(100% - 1em);
  border-radius: 2em;
}
/* Upload button*/
input[type="submit"] {
  background-color: #AC9797;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.characteristics {
  background-color: #AC9797;
  width: calc(15% - 1em);
}