body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* Upload page */
input[type="text"],
input[type="datetime-local"],
input[type="url"] {
  background-color: #E4E4E7;
  border: 1em;
  padding: 1em;
  margin-bottom: 1em;
  width: calc(100% - 1em);
  border-radius: 2em;
}
/* Upload button*/
input[type="submit"] {
  background-color: #AC9797;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.characteristics {
  background-color: #AC9797;
  width: calc(15% - 1em);
}

